pkgbase = bab
	pkgdesc = Custom commands for your projects
	pkgver = 0.0.3
	pkgrel = 1
	url = https://github.com/bab-sh/bab
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go>=1.25.1
	source = bab-0.0.3.tar.gz::https://github.com/bab-sh/bab/archive/refs/tags/v0.0.3.tar.gz
	sha256sums = 0f0e91b1cde314c480cb0c33e8a90c3f741c95db1f0f55d1f6d169eaf7dc2e16

pkgname = bab
